@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", sans-serif;
    color: "#111827";
  }
  body {
    background: #f9fbfc;
  }
}

@layer components {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .button {
    @apply active:scale-[0.98] hover:bg-neutral-50 bg-white text-[#344054] font-semibold text-sm border-[1px] shadow-[0px_1px_2px_rgba(16,24,40,0.05)] border-[#D0D5DD] flex gap-2 items-center py-[10px] rounded-lg px-4 cursor-pointer transition;
  }

  .card {
    @apply border-[1px] bg-white border-[#EAECF0] rounded-xl shadow-[0px_1px_3px_rgba(0,0,0,0.05)];
  }

  .header {
    /*make header width 100% of viewport*/
    @apply fixed float-left  top-0 left-0 w-[100vw] z-50;
  }
}
